In [76]:
import pandas as pd
import numphy as np

In [77]:
dataframe = pd.read_csv('chicago_crime_data.csv')

In [78]:
dataframe

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,24392,JB323792,06/26/2018 05:16:00 PM,077XX S COLES AVE,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,False,False,...,7.0,43.0,01A,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
1,11582357,JC136122,12/26/2018 08:00:00 AM,008XX N CHRISTIANA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,27.0,23.0,11,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
2,11582352,JC136052,12/01/2018 12:00:00 AM,030XX S KARLOV AVE,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,APARTMENT,False,False,...,22.0,30.0,26,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
3,11582284,JC135308,12/20/2018 02:30:00 PM,002XX W 87TH ST,0810,THEFT,OVER $500,VEHICLE NON-COMMERCIAL,False,False,...,21.0,44.0,06,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
4,11582226,JC135263,09/01/2018 12:01:00 AM,047XX S WESTERN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,15.0,58.0,11,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265377,11194525,JB103289,01/02/2018 06:00:00 PM,032XX N HOYNE AVE,0820,THEFT,$500 AND UNDER,VEHICLE NON-COMMERCIAL,False,False,...,32.0,5.0,06,NaN,NaN,2018,01/09/2018 03:50:53 PM,NaN,NaN,NaN
265378,23759,JB100839,01/01/2018 06:27:00 PM,047XX S PRINCETON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,3.0,37.0,01A,1175089.0,1873464.0,2018,01/08/2018 03:55:29 PM,41.808168,-87.633336,"(41.808168003, -87.633336457)"
265379,23758,JB100522,01/01/2018 11:33:00 AM,026XX N HAMPDEN CT,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,False,False,...,43.0,7.0,01A,1172664.0,1917743.0,2018,01/08/2018 03:55:29 PM,41.929727,-87.640921,"(41.929726567, -87.64092074)"
265380,23757,JB100159,01/01/2018 02:46:00 AM,039XX W CORNELIA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,30.0,21.0,01A,1149289.0,1922972.0,2018,01/08/2018 03:55:29 PM,41.944561,-87.726682,"(41.944561251, -87.726681812)"
265381,11193631,JB102174,01/02/2018 12:30:00 PM,0000X N LA SALLE ST,0870,THEFT,POCKET-PICKING,RESTAURANT,False,False,...,42.0,32.0,06,NaN,NaN,2018,01/09/2018 03:50:53 PM,NaN,NaN,NaN

In [79]:
dataframe.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,24392,JB323792,06/26/2018 05:16:00 PM,077XX S COLES AVE,0110,HOMICIDE,FIRST DEGREE MURDER,YARD,False,False,...,7.0,43.0,01A,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
1,11582357,JC136122,12/26/2018 08:00:00 AM,008XX N CHRISTIANA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,27.0,23.0,11,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
2,11582352,JC136052,12/01/2018 12:00:00 AM,030XX S KARLOV AVE,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,APARTMENT,False,False,...,22.0,30.0,26,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
3,11582284,JC135308,12/20/2018 02:30:00 PM,002XX W 87TH ST,0810,THEFT,OVER $500,VEHICLE NON-COMMERCIAL,False,False,...,21.0,44.0,06,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN
4,11582226,JC135263,09/01/2018 12:01:00 AM,047XX S WESTERN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,15.0,58.0,11,NaN,NaN,2018,02/01/2019 04:19:40 PM,NaN,NaN,NaN

In [80]:
dataframe.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [81]:
dataframe.tail()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
265377,11194525,JB103289,01/02/2018 06:00:00 PM,032XX N HOYNE AVE,0820,THEFT,$500 AND UNDER,VEHICLE NON-COMMERCIAL,False,False,...,32.0,5.0,06,NaN,NaN,2018,01/09/2018 03:50:53 PM,NaN,NaN,NaN
265378,23759,JB100839,01/01/2018 06:27:00 PM,047XX S PRINCETON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,3.0,37.0,01A,1175089.0,1873464.0,2018,01/08/2018 03:55:29 PM,41.808168,-87.633336,"(41.808168003, -87.633336457)"
265379,23758,JB100522,01/01/2018 11:33:00 AM,026XX N HAMPDEN CT,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,False,False,...,43.0,7.0,01A,1172664.0,1917743.0,2018,01/08/2018 03:55:29 PM,41.929727,-87.640921,"(41.929726567, -87.64092074)"
265380,23757,JB100159,01/01/2018 02:46:00 AM,039XX W CORNELIA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,30.0,21.0,01A,1149289.0,1922972.0,2018,01/08/2018 03:55:29 PM,41.944561,-87.726682,"(41.944561251, -87.726681812)"
265381,11193631,JB102174,01/02/2018 12:30:00 PM,0000X N LA SALLE ST,0870,THEFT,POCKET-PICKING,RESTAURANT,False,False,...,42.0,32.0,06,NaN,NaN,2018,01/09/2018 03:50:53 PM,NaN,NaN,NaN

In [82]:
dataframe.shape

(265382, 22)

In [83]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265382 entries, 0 to 265381
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    265382 non-null  int64
 1   Case Number           265382 non-null  object
 2   Date                  265382 non-null  object
 3   Block                 265382 non-null  object
 4   IUCR                  265382 non-null  object
 5   Primary Type          265382 non-null  object
 6   Description           265382 non-null  object
 7   Location Description  264637 non-null  object
 8   Arrest                265382 non-null  bool
 9   Domestic              265382 non-null  bool
 10  Beat                  265382 non-null  int64
 11  District              265382 non-null  int64
 12  Ward                  265379 non-null  float64
 13  Community Area        265380 non-null  float64
 14  FBI Code              265382 non-null  object
 15  X Coordinate          263653 non-null  float64
 16  Y Coordinate          263653 non-null  float64
 17  Year                  265382 non-null  int64
 18  Updated On            265382 non-null  object
 19  Latitude              263653 non-null  float64
 20  Longitude             263653 non-null  float64
 21  Location              263653 non-null  object
dtypes: bool(2), float64(6), int64(4), object(10)
memory usage: 41.0+ MB

In [84]:
dataframe['FBI Code']

0         01A
1          11
2          26
3          06
4          11
         ...
265377     06
265378    01A
265379    01A
265380    01A
265381     06
Name: FBI Code, Length: 265382, dtype: object

In [119]:
dataframe['Date'] = pd.to_datetime(dataframe['Date'])
dataframe['Update On'] = pd.to_datetime(dataframe['Updated On'])

In [118]:
dataframe['Date']

0        2018-10-29 21:45:00
1        2018-10-29 13:00:00
2        2018-10-27 02:00:00
3        2018-10-24 06:00:00
4        2018-10-18 16:00:00
                 ...
263007   2018-01-06 12:54:00
263008   2018-01-05 18:50:00
263009   2018-01-01 18:27:00
263010   2018-01-01 11:33:00
263011   2018-01-01 02:46:00
Name: Date, Length: 263012, dtype: datetime64[ns]

In [87]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265382 entries, 0 to 265381
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    265382 non-null  int64
 1   Case Number           265382 non-null  object
 2   Date                  265382 non-null  datetime64[ns]
 3   Block                 265382 non-null  object
 4   IUCR                  265382 non-null  object
 5   Primary Type          265382 non-null  object
 6   Description           265382 non-null  object
 7   Location Description  264637 non-null  object
 8   Arrest                265382 non-null  bool
 9   Domestic              265382 non-null  bool
 10  Beat                  265382 non-null  int64
 11  District              265382 non-null  int64
 12  Ward                  265379 non-null  float64
 13  Community Area        265380 non-null  float64
 14  FBI Code              265382 non-null  object
 15  X Coordinate          263653 non-null  float64
 16  Y Coordinate          263653 non-null  float64
 17  Year                  265382 non-null  int64
 18  Updated On            265382 non-null  object
 19  Latitude              263653 non-null  float64
 20  Longitude             263653 non-null  float64
 21  Location              263653 non-null  object
 22  Update On             265382 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](2), float64(6), int64(4), object(9)
memory usage: 43.0+ MB

In [88]:
dataframe['Ward'].max()

50.0

In [89]:
dataframe['Ward'].min()

1.0

In [90]:
dataframe['Ward'].sum()

6220338.0

In [91]:
dataframe['Ward'].mean()

23.439450747798432

In [92]:
dataframe['Ward'].median()

24.0

In [93]:
dataframe.isna().sum()

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description     745
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       3
Community Area             2
FBI Code                   0
X Coordinate            1729
Y Coordinate            1729
Year                       0
Updated On                 0
Latitude                1729
Longitude               1729
Location                1729
Update On                  0
dtype: int64

In [94]:
dataframe['Ward'] = dataframe['Ward'].fillna(value=25.0)

In [95]:
dataframe.isna().sum()

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description     745
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       0
Community Area             2
FBI Code                   0
X Coordinate            1729
Y Coordinate            1729
Year                       0
Updated On                 0
Latitude                1729
Longitude               1729
Location                1729
Update On                  0
dtype: int64

In [96]:
dataframe.dropna(axis=0,inplace=True)

In [97]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263012 entries, 6 to 265380
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    263012 non-null  int64
 1   Case Number           263012 non-null  object
 2   Date                  263012 non-null  datetime64[ns]
 3   Block                 263012 non-null  object
 4   IUCR                  263012 non-null  object
 5   Primary Type          263012 non-null  object
 6   Description           263012 non-null  object
 7   Location Description  263012 non-null  object
 8   Arrest                263012 non-null  bool
 9   Domestic              263012 non-null  bool
 10  Beat                  263012 non-null  int64
 11  District              263012 non-null  int64
 12  Ward                  263012 non-null  float64
 13  Community Area        263012 non-null  float64
 14  FBI Code              263012 non-null  object
 15  X Coordinate          263012 non-null  float64
 16  Y Coordinate          263012 non-null  float64
 17  Year                  263012 non-null  int64
 18  Updated On            263012 non-null  object
 19  Latitude              263012 non-null  float64
 20  Longitude             263012 non-null  float64
 21  Location              263012 non-null  object
 22  Update On             263012 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](2), float64(6), int64(4), object(9)
memory usage: 44.6+ MB

In [98]:
dataframe.reset_index(inplace=True,drop=True)

In [99]:
dataframe.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,06,1191153.0,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42.0,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,06,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42.0,06,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,43.0,06,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28

In [100]:
dataframe.iloc[[67]]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
67,11549597,JB570666,2018-12-28 19:45:00,087XX S RACINE AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,71.0,03,1169883.0,1845743.0,2018,01/27/2019 04:03:13 PM,41.732213,-87.653235,"(41.732212896, -87.653234716)",2019-01-27 16:03:13

In [101]:
dataframe.iloc[2:11]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,06,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42.0,06,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,43.0,06,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28
5,11480921,JB481242,2018-10-18 20:30:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42.0,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28
6,11478932,JB478700,2018-10-16 21:30:00,061XX S WOODLAWN AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42.0,06,1185269.0,1864636.0,2018,01/30/2019 04:08:28 PM,41.783710,-87.596277,"(41.783709683, -87.596276769)",2019-01-30 16:08:28
7,11476211,JB475196,2018-10-14 05:00:00,071XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,SIDEWALK,False,True,...,43.0,06,1190776.0,1858184.0,2018,01/30/2019 04:08:28 PM,41.765874,-87.576295,"(41.76587359, -87.576294705)",2019-01-30 16:08:28
8,11473764,JB471936,2018-10-06 01:00:00,072XX S SOUTH SHORE DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,43.0,06,1194918.0,1857750.0,2018,01/30/2019 04:08:28 PM,41.764582,-87.561127,"(41.764581624, -87.561127448)",2019-01-30 16:08:28
9,11469473,JB466082,2018-10-02 22:00:00,073XX S PHILLIPS AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,False,...,43.0,06,1193921.0,1856701.0,2018,01/30/2019 04:08:28 PM,41.761728,-87.564816,"(41.761727593, -87.564815996)",2019-01-30 16:08:28
10,11465469,JB460756,2018-10-03 01:00:00,063XX S MINERVA AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42.0,06,1185274.0,1862873.0,2018,01/30/2019 04:08:28 PM,41.778872,-87.596314,"(41.778871742, -87.59631384)",2019-01-30 16:08:28

In [102]:
dataframe[['Ward','Date']]

        Ward                Date
0        7.0 2018-10-29 21:45:00
1       20.0 2018-10-29 13:00:00
2        5.0 2018-10-27 02:00:00
3       20.0 2018-10-24 06:00:00
4        5.0 2018-10-18 16:00:00
...      ...                 ...
263007   5.0 2018-01-06 12:54:00
263008  28.0 2018-01-05 18:50:00
263009   3.0 2018-01-01 18:27:00
263010  43.0 2018-01-01 11:33:00
263011  30.0 2018-01-01 02:46:00

[263012 rows x 2 columns]

In [103]:
dataframe[['Ward','Date']][5:11]

    Ward                Date
5   20.0 2018-10-18 20:30:00
6   20.0 2018-10-16 21:30:00
7    5.0 2018-10-14 05:00:00
8    7.0 2018-10-06 01:00:00
9    7.0 2018-10-02 22:00:00
10  20.0 2018-10-03 01:00:00

In [104]:
dataframe.iloc[5:13,5:7]

          Primary Type        Description
5                THEFT     $500 AND UNDER
6                THEFT     $500 AND UNDER
7                THEFT     $500 AND UNDER
8                THEFT     $500 AND UNDER
9                THEFT     $500 AND UNDER
10               THEFT     $500 AND UNDER
11               THEFT     $500 AND UNDER
12  DECEPTIVE PRACTICE  COUNTERFEIT CHECK

In [105]:
dataframe.iloc[[-1]]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
263011,23757,JB100159,2018-01-01 02:46:00,039XX W CORNELIA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,21.0,01A,1149289.0,1922972.0,2018,01/08/2018 03:55:29 PM,41.944561,-87.726682,"(41.944561251, -87.726681812)",2018-01-08 15:55:29

In [106]:
dataframe.iloc[5:15,-1]

5    2019-01-30 16:08:28
6    2019-01-30 16:08:28
7    2019-01-30 16:08:28
8    2019-01-30 16:08:28
9    2019-01-30 16:08:28
10   2019-01-30 16:08:28
11   2019-01-30 16:08:28
12   2019-01-30 16:08:28
13   2019-01-30 16:08:28
14   2019-01-30 16:08:28
Name: Update On, dtype: datetime64[ns]

In [107]:
dataframe.loc[(dataframe['Ward'] <= 35)]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,06,1191153.0,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,42.0,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,43.0,06,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42.0,06,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,43.0,06,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263006,23767,JB107731,2018-01-07 16:37:00,007XX N CHRISTIANA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,23.0,01A,1153907.0,1904830.0,2018,01/14/2018 03:51:28 PM,41.894687,-87.710192,"(41.894687135, -87.710192429)",2018-01-14 15:51:28
263007,23762,JB105277,2018-01-06 12:54:00,015XX E 62ND ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,42.0,01A,1187318.0,1864355.0,2018,01/13/2018 03:51:44 PM,41.782890,-87.588773,"(41.782890153, -87.588773433)",2018-01-13 15:51:44
263008,23763,JB105765,2018-01-05 18:50:00,053XX W LAKE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,25.0,01A,1140721.0,1902054.0,2018,01/12/2018 03:58:33 PM,41.887322,-87.758690,"(41.887322035, -87.758689717)",2018-01-12 15:58:33
263009,23759,JB100839,2018-01-01 18:27:00,047XX S PRINCETON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,37.0,01A,1175089.0,1873464.0,2018,01/08/2018 03:55:29 PM,41.808168,-87.633336,"(41.808168003, -87.633336457)",2018-01-08 15:55:29
263011,23757,JB100159,2018-01-01 02:46:00,039XX W CORNELIA AVE,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,21.0,01A,1149289.0,1922972.0,2018,01/08/2018 03:55:29 PM,41.944561,-87.726682,"(41.944561251, -87.726681812)",2018-01-08 15:55:29

In [108]:
dataframe.loc[(dataframe['Ward'] >= 35) & (dataframe['Primary Type'] == 'HOMICIDE')]

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On
347,11196916,JB106192,2018-01-06 04:10:00,021XX W ADDISON ST,0142,HOMICIDE,RECKLESS HOMICIDE,STREET,True,False,...,5.0,01B,1161515.0,1923886.0,2018,01/30/2019 04:14:07 PM,41.946823,-87.681719,"(41.946823083, -87.681718565)",2019-01-30 16:14:07
447,24162,JB419467,2018-09-04 17:46:00,001XX N JEFFERSON ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,28.0,01A,1172313.0,1900889.0,2018,01/25/2019 04:05:24 PM,41.883486,-87.642709,"(41.883486065, -87.642709199)",2019-01-25 16:05:24
549,24247,JB484375,2018-10-21 16:15:00,004XX N SPRINGFIELD AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,23.0,01A,1150308.0,1902741.0,2018,01/17/2019 02:26:36 PM,41.889026,-87.723465,"(41.889025668, -87.723465161)",2019-01-17 14:26:36
550,24219,JB465438,2018-10-06 23:39:00,022XX N KILBOURN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,False,...,20.0,01A,1146015.0,1914721.0,2018,01/17/2019 02:26:36 PM,41.921983,-87.738926,"(41.921982699, -87.738926035)",2019-01-17 14:26:36
553,24060,JB350722,2018-07-15 13:14:00,010XX N LEAMINGTON AVE,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,True,True,...,25.0,01A,1141838.0,1906418.0,2018,01/17/2019 02:26:36 PM,41.899277,-87.754480,"(41.899276772, -87.75447959)",2019-01-17 14:26:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262993,23790,JB127183,2018-01-23 19:53:00,042XX W HIRSCH ST,0110,HOMICIDE,FIRST DEGREE MURDER,AUTO,False,False,...,23.0,01A,1148044.0,1908989.0,2018,01/30/2018 03:52:26 PM,41.906215,-87.731619,"(41.906214695, -87.731618605)",2018-01-30 15:52:26
262999,23775,JB112212,2018-01-11 12:07:00,053XX W RACE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,25.0,01A,1140682.0,1903038.0,2018,01/18/2018 03:58:25 PM,41.890023,-87.758809,"(41.890022969, -87.758808744)",2018-01-18 15:58:25
263001,23770,JB110156,2018-01-09 17:22:00,019XX N ALBANY AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,22.0,01A,1155202.0,1912541.0,2018,01/18/2018 03:52:54 PM,41.915821,-87.705229,"(41.915820895, -87.705228873)",2018-01-18 15:52:54
263002,23774,JB110632,2018-01-10 03:18:00,013XX N LOREL AVE,0110,HOMICIDE,FIRST DEGREE MURDER,HOUSE,True,False,...,25.0,01A,1140394.0,1908422.0,2018,01/17/2018 03:56:34 PM,41.904803,-87.759734,"(41.904802597, -87.75973423)",2018-01-17 15:56:34
263010,23758,JB100522,2018-01-01 11:33:00,026XX N HAMPDEN CT,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,False,False,...,7.0,01A,1172664.0,1917743.0,2018,01/08/2018 03:55:29 PM,41.929727,-87.640921,"(41.929726567, -87.64092074)",2018-01-08 15:55:29

In [109]:
dataframe['lat1'],dataframe['long1'] = dataframe['Location'].str.split(',',1).str
dataframe.head(6)

<ipython-input-109-e3207c473488>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  dataframe['lat1'],dataframe['long1'] = dataframe['Location'].str.split(',',1).str

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,lat1,long1
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1191153.0,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28,(41.761893792,-87.574959656)
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,(41.776382364,-87.594556922)
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28,(41.766946791,-87.57632241)
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28,(41.779930114,-87.591480454)
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28,(41.769417774,-87.569856281)
5,11480921,JB481242,2018-10-18 20:30:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,(41.776382364,-87.594556922)

In [110]:
dataframe['lat1'] = dataframe.lat1.str.replace("(","")
dataframe['long1'] = dataframe.long1.str.replace(")","")

dataframe['lat1'] = pd.to_numeric(dataframe['lat1'])
dataframe['long1'] = pd.to_numeric(dataframe['long1'])


dataframe['Geo Sum'] = dataframe['lat1'] + dataframe['long1']
dataframe.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,lat1,long1,Geo Sum
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28,41.761894,-87.574960,-45.813066
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,41.776382,-87.594557,-45.818175
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28,41.766947,-87.576322,-45.809376
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28,41.779930,-87.591480,-45.811550
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28,41.769418,-87.569856,-45.800439
5,11480921,JB481242,2018-10-18 20:30:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,41.776382,-87.594557,-45.818175
6,11478932,JB478700,2018-10-16 21:30:00,061XX S WOODLAWN AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,1864636.0,2018,01/30/2019 04:08:28 PM,41.783710,-87.596277,"(41.783709683, -87.596276769)",2019-01-30 16:08:28,41.783710,-87.596277,-45.812567
7,11476211,JB475196,2018-10-14 05:00:00,071XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,SIDEWALK,False,True,...,1858184.0,2018,01/30/2019 04:08:28 PM,41.765874,-87.576295,"(41.76587359, -87.576294705)",2019-01-30 16:08:28,41.765874,-87.576295,-45.810421
8,11473764,JB471936,2018-10-06 01:00:00,072XX S SOUTH SHORE DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,1857750.0,2018,01/30/2019 04:08:28 PM,41.764582,-87.561127,"(41.764581624, -87.561127448)",2019-01-30 16:08:28,41.764582,-87.561127,-45.796546
9,11469473,JB466082,2018-10-02 22:00:00,073XX S PHILLIPS AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,False,...,1856701.0,2018,01/30/2019 04:08:28 PM,41.761728,-87.564816,"(41.761727593, -87.564815996)",2019-01-30 16:08:28,41.761728,-87.564816,-45.803088

In [111]:
dataframe.drop(['lat1','long1'],axis=1,inplace=True)
dataframe.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,Geo Sum
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1191153.0,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28,-45.813066
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,-45.818175
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28,-45.809376
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,06,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28,-45.811550
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,06,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28,-45.800439
5,11480921,JB481242,2018-10-18 20:30:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,-45.818175
6,11478932,JB478700,2018-10-16 21:30:00,061XX S WOODLAWN AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185269.0,1864636.0,2018,01/30/2019 04:08:28 PM,41.783710,-87.596277,"(41.783709683, -87.596276769)",2019-01-30 16:08:28,-45.812567
7,11476211,JB475196,2018-10-14 05:00:00,071XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,SIDEWALK,False,True,...,06,1190776.0,1858184.0,2018,01/30/2019 04:08:28 PM,41.765874,-87.576295,"(41.76587359, -87.576294705)",2019-01-30 16:08:28,-45.810421
8,11473764,JB471936,2018-10-06 01:00:00,072XX S SOUTH SHORE DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,06,1194918.0,1857750.0,2018,01/30/2019 04:08:28 PM,41.764582,-87.561127,"(41.764581624, -87.561127448)",2019-01-30 16:08:28,-45.796546
9,11469473,JB466082,2018-10-02 22:00:00,073XX S PHILLIPS AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,False,...,06,1193921.0,1856701.0,2018,01/30/2019 04:08:28 PM,41.761728,-87.564816,"(41.761727593, -87.564815996)",2019-01-30 16:08:28,-45.803088

In [112]:
dataframe.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,Geo Sum
0,11492177,JB496165,2018-10-29 21:45:00,073XX S CHAPPEL AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1191153.0,1856737.0,2018,01/30/2019 04:08:28 PM,41.761894,-87.574960,"(41.761893792, -87.574959656)",2019-01-30 16:08:28,-45.813066
1,11492004,JB495913,2018-10-29 13:00:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,-45.818175
2,11488952,JB491843,2018-10-27 02:00:00,070XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1190765.0,1858575.0,2018,01/30/2019 04:08:28 PM,41.766947,-87.576322,"(41.766946791, -87.57632241)",2019-01-30 16:08:28,-45.809376
3,11488097,JB490633,2018-10-24 06:00:00,063XX S DORCHESTER AVE,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,06,1186589.0,1863270.0,2018,01/30/2019 04:08:28 PM,41.779930,-87.591480,"(41.779930114, -87.591480454)",2019-01-30 16:08:28,-45.811550
4,11481439,JB482043,2018-10-18 16:00:00,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,06,1192521.0,1859491.0,2018,01/30/2019 04:08:28 PM,41.769418,-87.569856,"(41.769417774, -87.569856281)",2019-01-30 16:08:28,-45.800439
5,11480921,JB481242,2018-10-18 20:30:00,065XX S KIMBARK AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185761.0,1861970.0,2018,01/30/2019 04:08:28 PM,41.776382,-87.594557,"(41.776382364, -87.594556922)",2019-01-30 16:08:28,-45.818175
6,11478932,JB478700,2018-10-16 21:30:00,061XX S WOODLAWN AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,06,1185269.0,1864636.0,2018,01/30/2019 04:08:28 PM,41.783710,-87.596277,"(41.783709683, -87.596276769)",2019-01-30 16:08:28,-45.812567
7,11476211,JB475196,2018-10-14 05:00:00,071XX S JEFFERY BLVD,0820,THEFT,$500 AND UNDER,SIDEWALK,False,True,...,06,1190776.0,1858184.0,2018,01/30/2019 04:08:28 PM,41.765874,-87.576295,"(41.76587359, -87.576294705)",2019-01-30 16:08:28,-45.810421
8,11473764,JB471936,2018-10-06 01:00:00,072XX S SOUTH SHORE DR,0820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,06,1194918.0,1857750.0,2018,01/30/2019 04:08:28 PM,41.764582,-87.561127,"(41.764581624, -87.561127448)",2019-01-30 16:08:28,-45.796546
9,11469473,JB466082,2018-10-02 22:00:00,073XX S PHILLIPS AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,False,...,06,1193921.0,1856701.0,2018,01/30/2019 04:08:28 PM,41.761728,-87.564816,"(41.761727593, -87.564815996)",2019-01-30 16:08:28,-45.803088

In [113]:
group_by_primarytype = dataframe.groupby(['Domestic']).count()
group_by_primarytype.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Beat,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,Geo Sum
Domestic,,,,,,,,,,,,,,,,,,,,,
False,219541,219541,219541,219541,219541,219541,219541,219541,219541,219541,...,219541,219541,219541,219541,219541,219541,219541,219541,219541,219541
True,43471,43471,43471,43471,43471,43471,43471,43471,43471,43471,...,43471,43471,43471,43471,43471,43471,43471,43471,43471,43471

In [114]:
sorted_district = dataframe.sort_values(by=['District'], ascending=True).reset_index()
sorted_district.head()

,index,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Update On,Geo Sum
0,187716,11300274,JB243997,2018-04-30 11:30:00,002XX N MICHIGAN AVE,0890,THEFT,FROM BUILDING,RESTAURANT,False,...,06,1177257.0,1901899.0,2018,05/07/2018 04:03:09 PM,41.886147,-87.624524,"(41.886146944, -87.624524028)",2018-05-07 16:03:09,-45.738377
1,97533,11425237,JB403768,2018-08-21 09:30:00,002XX E RANDOLPH ST,0560,ASSAULT,SIMPLE,APARTMENT,False,...,08A,1177923.0,1901223.0,2018,08/29/2018 03:59:35 PM,41.884277,-87.622099,"(41.884276844, -87.622098929)",2018-08-29 15:59:35,-45.737822
2,204764,11277552,JB213608,2018-04-06 11:00:00,005XX W HARRISON ST,0560,ASSAULT,SIMPLE,GOVERNMENT BUILDING/PROPERTY,True,...,08A,1172659.0,1897574.0,2018,05/04/2018 03:51:04 PM,41.874382,-87.641537,"(41.874381838, -87.641536792)",2018-05-04 15:51:04,-45.767155
3,67590,11462685,JB457078,2018-09-30 15:19:00,0000X N STATE ST,0560,ASSAULT,SIMPLE,OTHER,False,...,08A,1176365.0,1900507.0,2018,10/07/2018 04:11:34 PM,41.882347,-87.627842,"(41.88234739, -87.62784164)",2018-10-07 16:11:34,-45.745494
4,97553,11424813,JB406347,2018-08-21 16:30:00,0000X E ROOSEVELT RD,0820,THEFT,$500 AND UNDER,CTA GARAGE / OTHER PROPERTY,False,...,06,1176593.0,1895068.0,2018,08/29/2018 03:59:35 PM,41.867417,-87.627169,"(41.867417305, -87.627168747)",2018-08-29 15:59:35,-45.759751

In [115]:
case_number = []
for i in dataframe['Case Number']:
    case_number.append(i)
print(len(case_number))

263012